  <mat-card class="auth-container">
    <h3>შესვლა</h3>
    <form [formGroup]="form" (ngSubmit)="submit()" >
      <mat-form-field class="example-full-width">
        <mat-label>მაილი</mat-label>
        <input matInput placeholder="მაილი"formControlName="email" >
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>პაროლი</mat-label>
        <input matInput placeholder="პაროლი" formControlName="password" type="password">
      </mat-form-field>
      <div class="login-action">
        <a class="point_log" routerLink="/auth/register">რეგისტრაცია</a>
        <button mat-raised-button type="submit" color="primary">შესვლა</button>
      </div>
    </form>
  </mat-card>


