<mat-card class="auth-container">
  <h3>რეგისტრაცია</h3>
  <form [formGroup]="form" (ngSubmit)="submit()" >
    <mat-form-field class="example-full-width">
      <mat-label>მაილი</mat-label>
      <input matInput placeholder="მაილი"formControlName="email" >
      <mat-error *ngIf="form.hasError('required','email')">
        მაილი სავალდებულოა!
      </mat-error>
      <mat-error *ngIf="form.hasError('email','email')">
        მითითებული მაილი არასწორია!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>პაროლი</mat-label>
      <input matInput placeholder="პაროლი" formControlName="password" type="password">
      <mat-error *ngIf="form.hasError('required','password')">
        პაროლი სავალდებულოა!
      </mat-error>
    </mat-form-field>
    <mat-form-field class="example-full-width">
      <mat-label>გაიმეორეთ პაროლი</mat-label>
      <input matInput placeholder="გაიმეორეთ პაროლი" formControlName="confirm_password" type="password">
      <mat-error *ngIf="form.hasError('notSame')">
        პაროლები ერთმანეთს არ ემთხვევა!
      </mat-error>
      <mat-error *ngIf="form.hasError('required','confirm_password')">
        პაროლის დადასტურება აუცილებელია!
      </mat-error>
    </mat-form-field>
    <div class="login-action">
      <a class="point" routerLink="/auth">შესვლა</a>
      <button mat-raised-button type="submit" color="primary">რეგისტრაცია</button>
    </div>
  </form>



</mat-card>

